<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Jeu de Mains">

    <title>Jeu de Mains | Offrez-vous un moment de détente créatif</title>
    <meta name="description" content="Bientôt! Réservez avec Jeu de Mains votre atelier créatif couture, céramique, herbier, cosmétique, broderie, bijoux… et découvrez les joies du faire soi-même !">
    <meta name="keywords" content="Jeu de Mains, ateliers créatifs. Do it yourself. Loisirs créatifs. Couture, céramique, cosmétique, herbier, broderie, tricot, peinture. Expérience insolite. Idée cadeau. Paris." />

        <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Jeu de Mains | Offrez-vous un moment de détente créatif" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.jeudemains.com/" />
    <meta property="og:image" content="https://res.cloudinary.com/eugeniedenis/image/upload/v1601545768/jeu-de-mains-facebook-twitter.png" />
    <meta property="og:description" content="Bientôt! Réservez avec Jeu de Mains votre atelier créatif couture, céramique, herbier, cosmétique, broderie, bijoux… et découvrez les joies du faire soi-même !" />
    <meta property="og:site_name" content="Jeu de mains | ateliers créatifs" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="jeudemains.com">
    <meta name="twitter:title" content="Jeu de Mains | Offrez-vous un moment de détente créatif">
    <meta name="twitter:description" content="Bientôt! Réservez avec Jeu de Mains votre atelier créatif couture, céramique, herbier, cosmétique, broderie, bijoux… et découvrez les joies du faire soi-même !">
    <meta name="twitter:image:src" content="https://res.cloudinary.com/eugeniedenis/image/upload/v1601545768/jeu-de-mains-facebook-twitter.png">

    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/eugeniedenis/image/upload/v1601583008/jeu-de-mains-favicon.png" />
    <meta name="csrf-param" content="authenticity_token" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= yield %>

    <% if notice %>
      <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <%= render 'shared/footer' %>

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Jeu de Mains",
      "url": "http://www.jeudemains.com",
      "sameAs": [
        "https://www.instagram.com/jeudemains_com"
      ]
    }
  </script>
  </body>
</html>
